@charset "UTF-8";

* {
	padding: 0;
	font-family:roboto;
}


body{
	background-color:black;
}


.loginSection{
	width:30%;
	margin-left:auto;
	margin-right:auto;
	margin-top:5%;
	border:2px solid beige;
}

.login-head{

color:white;
text-align:center;
font-size:30px;


}

#logo{
	width:50%;
	height:200px;
	position:relative;
	left:25%;
}

.loginform{
	margin-left:auto;
	margin-right:auto;
	width:50%;
	color:white;
}

.register-form{
	margin-left:auto;
	margin-right:auto;
	width:50%;
	color:white;
}

.register-form > label, input:not(.login-button){
	margin-top:10px;
	margin-bottom:10px;
	display:block;
}

.register-form > input{
	width:100%;
}




.loginform > label, input:not(.login-buttom){
	margin-top:10px;
	margin-bottom:10px;
}

#username, #pass{
	width:100%;
	height:25px;
	text-indent:10px;
}



.button-container{
	width:100%;
	display:inline-block;
	margin-top:40px;
	margin-bottom:20px;
	text-align:center;
	
}



.login-button, .register-button{
	width:40%;
	background-color:green;
	color:white;
	padding:5px;
	border:1px solid white;
	

}

.register-button-container{
	display:flex;
	width:100%;
	
}

.register-button-container > *{
	width:40%;
	margin-right:auto;
	margin-left:auto;
	background-color:green;
	color:white;
}


#login-redirect{
	height:21.5px;
	margin-top:auto;
	margin-bottom:auto;
}

	
	}